<h1>Materials Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @materials.each do |material| %>
    <li>
      <h3>
        <%= link_to material.section, controller: "materials", action: "show", id: material.id%>
      </h3>
    </li>
  <% end %>
</ul>
