.container
  .row
    .col-md-12
      %h1 Materials App
      %hr
      %h2 Search for your materials here!
      .input-group.col-md-12
      = form_for materials_path, method: :get do |f|
        %p
          = f.label "Search for"
          = text_field_tag :query, params[:query], class: 'input form-control', id: "material_search"
          = submit_tag "Go", name: nil
      %hr
.container
  .row
    .col-md-4
      - m = @materials.aggs.to_a
      - o = ["Materials", "Proprietary metals and other alloys", "Aluminum"]
      .btn-group-vertical{:style => "margin-top:30px;"}
        - m.each do |mat|
          - if !mat[1]["buckets"][0]["key"].blank?
            = link_to mat[1]["buckets"][0]["key"] + " " + mat[1]["buckets"][0]["doc_count"].to_s,
                        "/materials?query=#{params[:query]}+#{mat[1]["buckets"][0]["key"]}",
                        :class => "btn btn-success"
    .col-md-4
      %h2 Materials
      - @materials.each do |material|
        .col-xs-12
          %p= material.id
          %h2{:style => "color:brown"}= material.section
          %h3{:style => "color:blue"}= material.cat_1
          %h4{:style => "color:green"}= material.cat_2
          %h5{:style => "color:red"}= material.cat_3
          %hr
    .col-md-4
      %h2 Companies
      - @companies.each do |company|
        .col-xs-12
          %h2= company.name
          %h5= company.address
          %h5= company.city
          %h5= company.state
          %h5= company.zip
          %h5= company.country
          %hr
