.container
  .row
    .col-md-12
      %h1{:style => "margin-left: 15px;"} Materials App
      %hr
      %h2{:style => "margin-left: 15px;"} Search for your materials here!
      .input-group
      = form_for materials_path, method: :get do |f|
        .col-md-6
          = text_field_tag :query, params[:query], where: {cat_1: "Proprietary metals and other alloys"}, class: 'form-control', id: "material_search"
        .col-md-4
          %span.input-group-btn
            = submit_tag "Search", name: nil, class: "btn btn-success"
      %hr
.container
  .row
    .col-md-9{:style => "margin-left:20px;"}
      %h4 Reset Search
      = link_to "Reset", "/materials", class: "btn-sm btn-success"
      %hr
    .col-md-4
      .col-md-12
        - if @materials.aggs.present?
          - if @materials.aggs["section"]["buckets"].count > 0
            .widget
              %h4 Filter by Section
              - @materials.aggs["section"]["buckets"].each do |filter|
                .list-group
                  = link_to "/materials?query=#{filter['key']}", :class => "list-group-item list-group-item-action" do
                    = filter["key"]
                    %span.badge
                      = @companies.size
      .col-md-12
        - if @materials.aggs.present?
          - if @materials.aggs["cat_1"]["buckets"].count > 0
            .widget
              %h4 Filter by Type
              - @materials.aggs["cat_1"]["buckets"].each do |filter|
                .list-group
                  = link_to "/materials?query=#{filter['key']}", :class => "list-group-item list-group-item-action" do
                    = filter["key"]
                    %span.badge
                      = @companies.size
      .col-md-12
        - if @materials.aggs.present?
          - if @materials.aggs["cat_2"]["buckets"].count > 0
            .widget
              %h4 Filter by Shape
              - @materials.aggs["cat_2"]["buckets"].each do |filter|
                .list-group
                  = link_to "/materials?query=#{filter['key']}", :class => "list-group-item list-group-item-action" do
                    = filter["key"]
                    %span.badge
                      - if @materials.map(&:cat_2).include? filter["key"]
                        - @materials.each do |material|
                          - if material.cat_2 == filter["key"]
                            = material.companies.size
    .col-md-4{:style => "background-color: #fff0e2"}
      %h4 Results (Materials)
      - @materials.each do |material|
        .col-xs-12
          .panel.panel-default
            .panel-heading
              %h5= material.section
            %ul.list-group
              %li.list-group-item= material.cat_1
              %li.list-group-item= material.cat_2
              - if !material.cat_3.blank?
                %li.list-group-item= material.cat_3
          %hr
    .col-md-4{:style => "background-color: #e2edff;"}
      %h4 Results (Companies)
      - @companies.each do |company|
        .col-xs-12
          .panel.panel-default
            .panel-heading
              %h5= company.name
            %ul.list-group
              %li.list-group-item= company.address
              %li.list-group-item
                = company.city
                = company.state
                = company.zip
              %li.list-group-item= company.country
          %hr
