.col-sm-11.col-xs-12.blog-content
  %h2.text-center= @material.section
  %h3.text-center= @material.cat_1
  %h4.text-center= @material.cat_2
  %h5.text-center= @material.cat_3
  %h6.text-center= @material.created_at.strftime('%b %d, %Y')
